.navbar-toggler[b-udfguqi0ve] {
    background-color: rgb(117, 117, 117);
}

.top-row[b-udfguqi0ve] {
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
}

.headerlogoimage[b-udfguqi0ve] {
    height: 45px;
    width: 100px;
}

.nav-scrollable[b-udfguqi0ve] {
    background: #ffffff;
}

.navbar-brand[b-udfguqi0ve] {
    font-size: 1.1rem;
    font-family: 'Ephesis', cursive;
    font-family: 'Vollkorn', serif;
}


.oi[b-udfguqi0ve] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-udfguqi0ve] {
    font-weight: bolder;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-udfguqi0ve] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-udfguqi0ve] {
        padding-bottom: 1rem;
    }

    .nav-item[b-udfguqi0ve]  a {
        color: #4e4e4e;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-udfguqi0ve]  a.active {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
}

.nav-item::deep :hover[b-udfguqi0ve] {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
}

@media (min-width: 641px) {
    .navbar-toggler[b-udfguqi0ve] {
        display: none;
    }

    .collapse[b-udfguqi0ve] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-udfguqi0ve] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}