@page "/"

<div class="mainpage">
    <div class="mainpage-image">
        <!-- <img src="/images/harvardlibraryimage.jpeg"m alt="Picture of the Harvard library"> -->
    </div>
    <div class="maintext">
        <h4><strong>Welcome to The Digital Tome Repository: Unveiling a World of Wisdom Online</strong></h4>
        <p>In the annals of literary sanctuaries, a new chapter is being written, and it's exclusively digital. 
        Behold, The Digital Tome Repository, where the fragrance of aged parchment meets the hum of servers in a symphony of knowledge. 
        Established in the imaginary town of Cybershire in 2020, our virtual library is a testament to the evolution of information in the digital age.</p>

        <h5>A Storied History:</h5>
        <p>The inception of The Digital Tome Repository traces its roots back to an era when scrolls met screens, and ink merged with pixels. 
            Conceived by a collective of visionary book enthusiasts, our founders sought to bridge the gap between tradition and technology. 
            Their mission: to curate an expansive collection of literary treasures and make them accessible to the world at the click of a button.</p>
        
        <h5>The Birth of Our Digital Haven:</h5>
        <p>Motivated by a shared passion for the written word, our founders envisioned a space where bibliophiles could explore an infinite expanse of 
        knowledge without leaving the comfort of their digital hearths. 
        The Digital Tome Repository was born from this vision, and its virtual doors were flung wide open to welcome the seekers of wisdom and imagination.</p>

        <h5>Meet Our Imaginary Librarian:</h5>
        <p>In the hallowed halls of The Digital Tome Repository, an imaginary librarian named Alexandria Quillen presides. 
            A digital avatar with a penchant for wit and a heart steeped in literary fervor, 
            Alexandria guides visitors through the labyrinth of bytes and bits that house our vast collection. 
            Rumor has it that she once shared a cup of tea with Shakespeare in the pixelated gardens of Cybershire.</p>

        <h5>Why a Virtual Library?</h5>
        <p>In an era where time is a precious commodity and physical distances can feel insurmountable, 
            The Digital Tome Repository stands as a beacon of accessibility. Our founders recognized the need for a sanctuary where literary enthusiasts, 
            scholars, and daydreamers alike could converge seamlessly from every corner of the digital realm. The online repository was conceived as a solution, 
            a haven for the curious minds navigating the vast ocean of human knowledge.</p>

        <p>So, dear wanderer of words, welcome to The Digital Tome Repository. 
            A digital sanctuary where the pages may be virtual, but the stories are very much real. Explore, indulge, 
            and let the journey through our imaginary shelves awaken the bibliophile within you.</p>
    </div>
    <div class="credits">
        <p><i>Copyright Håkon Sunde © 2023</i></p>
        <a href="https://github.com/sundehakon" target="_blank">
            <img src="/images/github.png" alt="GitHub logo" class="github-image">
        </a>
    </div>
</div>