@page "/login"
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Components.Forms;

<h3>Enter your details</h3>

<EditForm Model="userInput" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="userInput.Name" placeholder="Name" />
    <InputText id="password" @bind-Value="userInput.Password" placeholder="Password" />
    <InputText id="phone" @bind-Value="userInput.PhoneNumber" placeholder="Phone number" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    private UserInput userInput = new UserInput();

    private void HandleValidSubmit()
    {
        var json = System.Text.Json.JsonSerializer.Serialize(userInput);
        System.IO.File.AppendAllText("users.json", json);
    }

    public class UserInput
    {
        [Required]
        public string Name { get; set; }

        [Required]
        public string Password { get; set; }

        [Required]
        public string PhoneNumber { get; set; } 
    }
}
