.navbar-toggler {
    background-color: rgb(117, 117, 117);
}

.top-row {
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
}

.headerlogoimage {
    height: 45px;
    width: 100px;
}

.nav-scrollable {
    background: #ffffff;
}

.navbar-brand {
    font-size: 1.1rem;
    font-family: 'Ephesis', cursive;
    font-family: 'Vollkorn', serif;
}


.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-weight: bolder;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #4e4e4e;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
}

.nav-item::deep :hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}